/* mobile */
html {
  font-size: 12px
}

/* tablet */
@media only screen and (min-width: 600px){
  html {
      font-size: 14px
  }
}

/* desktop */
@media only screen and (min-width: 768px){
  html {
      font-size: 16px
  }
}

/* Font */

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: normal;
  src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
  }

/* App CSS */
.app {
  display: flex;
  width: 100%;
}

.content {
  width: 100%;
}

body {
  text-align: center;
  background-color: #373737;
  font-family: 'Sansation', sans-serif;
}

header{
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  color: #EC4444;
  font-family: Helvetica;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

header img {
  width: 4rem;
  height: 4rem;
  margin-right: 1vw;
  margin-left: 1vw;
}

.header-wrapper {
  display: block;
}

h2 {
  font-family: 'Sansation', sans-serif;
  color: #EC4444;
  font-size: 3rem;
}

h5 {
  font-size: 1rem;
}
/*
.input-wrap {
  width: 90vw;
  display: flex;
  margin-top: 13vh;
  margin-left: 5vw;
  margin-right: 5vw;
}*/

.input {
  margin-right: 5px;
  width: 98%
}

.poke-list {
  max-width: 100vw;
  margin-top: 12vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.poke-list-detail {
  max-width: 50vw;
  margin-top: 12vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-card {
  border-radius: 5px;
  background-color: white;
}

.card-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 15px;
}

.detail-card {
  top: 12vh;
  width: 45vw;
  max-height: 60%;
  margin-left: 2vw;
  border-radius: 15px;
  background-color: #EC4444;
  position: fixed;
  right: 2vw;
  box-shadow: 10px 10px 39px -8px rgba(0,0,0,0.75);
}

.detail-card-mobile {
  top: 35vh;
  left: 5vw;
  width: 90vw;
  max-height: 60%;
  border-radius: 15px;
  background-color: #EC4444;
  position: fixed;
  box-shadow: 10px 10px 39px -8px rgba(0,0,0,0.75);
}

.upper-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  min-height: 20vh;
}

.stats {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flavor-text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 2px;
}

.detail-image {
  margin: 20px;
  width: 40%;
  background-color: white;
  border-radius: 15px;
}

.detail-image img {
  height: 70%;
  width: 70%;
}

p {
  color: #373737;
  size: 1rem;
}

.line {
  display: flex;
  height: 1.5rem;
}

.stats-details {
  color: white;
  margin-left: 5px;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 3px
}