/* mobile */
html {
  font-size: 12px
}

/* tablet */
@media only screen and (min-width: 600px){
  html {
      font-size: 14px
  }
}

/* desktop */
@media only screen and (min-width: 768px){
  html {
      font-size: 16px
  }
}

/* Font */

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: normal;
  src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
  }

/* App CSS */
.app {
  position: absolute;
  top: 0;
  width: 100%;
}

body {
  text-align: center;
  background-color: #373737;
  font-family: 'Sansation', sans-serif;
}

header{
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  color: #EC4444;
  font-family: Helvetica;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

header img {
  width: 10%;
  height: 10%;
  margin-right: 2%;
  margin-left: 2%;
}

.header-wrapper {
  display: block;
}

h2 {
  font-family: 'Sansation', sans-serif;
  color: #EC4444;
  font-size: 3rem;
}

.input-wrap {
  width: 90%;
  display: flex;
}

.input {
  margin-right: 5px;
  width: 98%
}

.poke-list {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-card {
  border-radius: 5px;
  background-color: white;
}

.card-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 15px;
}
